// You can add global styles to this file, and also import other style files 
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-grey,900,50,500);
$candy-app-secondary:  mat-palette($mat-amber,800,100,400);

// The warn palette is optionalv (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary,$candy-app-secondary, $candy-app-warn);

@include angular-material-theme($candy-app-theme);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
$background-color: #F4F4E6;
body {
    margin:0;
    font-family: "Lato", sans-serif;
    background-color:$background-color;
}

@font-face { font-family: "Lato"; src: url("./assets/fonts/lato-regular.woff2"); }
agm-map {
    height: 300px;
    width:300px;
    margin-left:25px;
}

