.home-page {
    // text-align: center;
    // display: flex;
    position: absolute;
    left: 2%;
    width: 96%;
    background-color: white;
    // justify-content: center;
    // flex-direction: column;
    // align-items: flex-start;
}