


.material-icons {
    font-size: 2.02em !important;
}

.main-card {

}

.about-block-body{
    font-size:1.06em;
}
$portfolio-item-head-background-color : #666666;
$portfolio-card-background-color: #efefef;
.portfolio-item-card{
    max-width:6in;
    margin:auto;

}
.portfolio-item-header{

}