<app-toolbar></app-toolbar>
<div id="particles-js"></div>
<div class="outer-container"> 
    <!-- <div class="main-content box" > -->
        <!--  <mat-step>-->
        <!-- <mat-card class="main-card"> -->
            <!--<a routerLink="/about" routerLinkActive="active">About</a>-->
            <div class="box-foreground">
                <img class="logo-image " src="/assets/images/companyLogos/apptek-logo.png" alt="AppTEK. Redefine your business.">
                <div class="footer ">
                    <h2>WEB AND MOBILE APP DEVELOPERS | PUBLISHING</h2>
                    <h3>Call (321) 313 9542</h3>
                </div>
            </div>
            <!-- <div class="box-background-container"> -->
                <!--particle background div-->

            <!-- </div> -->

        <!-- </mat-card> -->
  <!--</mat-step>
  <mat-step>
      Take your business the next level.
      
      Get Noticed, Crush your Competitors. 
      
      
      Transform & Innovate your vision.  
      
  </mat-step>
  <mat-step>
      The Aptekk Process:
      
      • Needs Discovery
  We will have our team of experts create an outline tailored to your business ideas and aspirations.
  
      •  Creative Design
           We will work with you to put together strategic presentations and exemplify models projections of your future innovative application. 
  
      • Implementation:
  Our team of lead programmers and creative directors will bring your application to life in a timely manner. 
  
  
      • Market Placement: 
  We will work with you to place your app in various app stores, utilizing major platforms to target specific business goals. Our market analyst will create a strategic marketing plan and advertising blueprint to take your business to the next level. 
  
  
  
  Contact us for a quote: 1-(888)- APPTEK
  </mat-step>-->

    <!-- </div> -->
</div>

<!-- <div  ></div>  -->
<router-outlet></router-outlet>