<app-toolbar></app-toolbar>
<div class="outer-container">
  <div class="main-content" >     
    <h1>The Aptekk Process</h1> 
      
      <h4>Needs Discovery</h4> 
      <p>We will have our team of experts create an outline tailored to your business ideas and aspirations.</p>
  
      <h4>Creative Design</h4>
      <p>We will work with you to put together strategic presentations and exemplify models projections of your future innovative application.</p>
  
      <h4>Implementation:</h4>
      <p>Our team of lead programmers and creative directors will bring your application to life in a timely manner.</p>
  
  
      <h4>Market Placement: </h4>
      <p>We will work with you to place your app in various app stores, utilizing major platforms to target specific business goals. Our market analyst will create a strategic marketing plan and advertising blueprint to take your business to the next level. </p>
  
  
  
  <p>Contact us for a quote: 1-(888)- APPTEK</p>

  </div>
</div>