.contact-page {
  display: flex;
  justify-content: center;
  &__mat-card {
    max-width: 7in;
  }
  &__form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
